body {
  margin: 0;
  width: 100%;
  max-width: 1523px;
  /* width: 1523px;
  width: 100%; */
}

.header {
  background-color: #ffd900;
  width: 100%;
  height: 350px;
}


.container-header {
  width: 829px;
  padding: 65px 131px 32px;
}

.version {
  width: 322px;
  height: 24px;
  font-family: 'Menlo', monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 9px;
}

.head {
  font-family: 'Playfair Display', serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 100%;
}

.main-content {
  width: 961px;
  margin-left: 131px;
  margin-top: 103px;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  font-weight: bold;
}

.title1 {
  margin: 0;
}

.title2 {
  margin: 90px 0 0;
}

.title3 {
  margin: 80px 0 0;
  /* margin-bottom: 0; */
}

.section-content {
  border-left: 6px solid #000;
  margin-left: 3px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 29px;
}

.para1{
  margin-top: 26px;
  width: 923px;
}

.para2 {
  margin-top: 26px;
  width: 890px;
}

.para3 {
  margin-top: 24px;
  /* padding: 24px 0 0; */
  width: 900px;
}

.para3-main{
  width: 791px;
  margin: 0;
}


.GFT {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  margin-top: 58.8px;
  margin-left: 8.24px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 333.88px;
  height: 50.22px;
}

.GFT-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 5px;
  margin-top: 11.98px;
}

.Mackay {
  font-family: 'Prata', serif;
  font-size: 45px;
  width: 382.35px;
  height: 48.06px;
  display: flex;
  align-items: center;
  margin-top: 52.2px;
  margin-left: 5px;
  margin-bottom: 0;
}

.Mackay-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 5px;
  margin-top: 14.74px; 
}

.Harriet {
  font-family: 'Lora', serif;
  font-size: 50px;
  font-weight: 200;
  width: 302.91px;
  height: 40.9px;
  display: flex;
  align-items: center;
  margin-top: 60.87px;
  margin-left: 7.43px;
  margin-bottom: 0;
}

.Harriet-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 5px;
  margin-top: 30.24px; 
}

.Grotesque {
  font-family: 'Satoshi', sans-serif;
  font-size: 55px;
  font-weight: 100;
  width: 493.82px;
  height: 49.57px;
  display: flex;
  align-items: center;
  margin-top: 56.44px;
  margin-left: 9.75px;
  margin-bottom: 0;
}

.Grotesque-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 5px;
  margin-top: 19.98px; 
}

@font-face {
  font-family: 'NokiaCellphoneFC';
  src: url('fonts/nokiafc22.ttf') format('truetype');
}

.NOKIA {
  font-family: 'NokiaCellphoneFC', monospace;
  font-size: 52px;
  font-weight: 100;
  width: 681.75px;
  height: 47.25px;
  display: flex;
  align-items: center;
  margin-top: 53.75px;
  margin-left: 5px;
  margin-bottom: 0;
}

.NOKIA-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 5px;
  margin-top: 29px; 
  margin-bottom: 302px;
}