
html, body {
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
  color: #000;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  background-color: #ffd900;
  padding: 2px 10px 0;
  width: 100%;
  height: 350px;
}

.version {
  font-family: 'Menlo', monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 65px;
  margin-left: 140px;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 100%;
  margin-left: 131px;
  margin-top: 14px;
}

.section h2 {
    font-family: 'Playfair Display', serif;
    margin-top: 103px;
    margin-left: 131px;
    font-size: 44px;
    font-weight: bold;
}

.section-content {
  border-left: 6px solid #000;
  margin-left: 134px;
  margin-top: 24px;
}

.one {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 923px;
    font-weight: 400;
    line-height: 100%;
    margin-left: 29px;
    margin-top: 26px;
}

.two {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 29px;
  margin-top: 24px;
}

.three {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  width: 791px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 29px;
  margin-top: 24px;
}

.GFT {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  margin-top: 58.8px;
  margin-left: 37.24px;
  margin-bottom: 0;
}

.GFT-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 34px;
  margin-top: 11.98px; 
}

.Mackay {
  font-family: 'Prata', serif;
  font-size: 50px;
  margin-top: 52.2px;
  margin-left: 34px;
  margin-bottom: 0;
}

.Mackay-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 34px;
  margin-top: 14.74px; 
}

.Harriet {
  font-family: 'Lora', serif;
  font-size: 50px;
  font-weight: 200;
  margin-top: 60.84px;
  margin-left: 36.43px;
  margin-bottom: 0;
}

.Harriet-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 34px;
  margin-top: 30.24px; 
}

.Grotesque {
  font-family: 'Satoshi', sans-serif;
  font-size: 55px;
  font-weight: 100;
  margin-top: 56.44px;
  margin-left: 38.75px;
  margin-bottom: 0;
}

.Grotesque-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 34px;
  margin-top: 19.98px; 
}

@font-face {
  font-family: 'NokiaCellphoneFC';
  src: url('fonts/nokiafc22.ttf') format('truetype');
}

.NOKIA {
  font-family: 'NokiaCellphoneFC', monospace;
  font-size: 55px;
  font-weight: 100;
  margin-top: 53.75px;
  margin-left: 34px;
  margin-bottom: 0;
}

.NOKIA-content {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-left: 34px;
  margin-top: 29px; 
  margin-bottom: 302px;
}